In [1]:
import pandas as pd

In [2]:
data_list = [
    {
        "a": 1,
        "b": 2,
        "c": 3,
        },
    {
        "a": 4,
        "b": 5,
        "c": 6,
        },
    {
        "a": 7,
        "b": 8,
        "c": 9,
        },
    
    ]

df = pd.DataFrame(data_list)

In [3]:
df = df.append(df.iloc[0])
df = df.reset_index(drop=True)

In [4]:
# df.reset_index?

In [7]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
3  1  2  3

In [6]:
df.iloc[-1]

a    1
b    2
c    3
Name: 3, dtype: int64

In [12]:
df.ix[-1, "a"] = "tmp"

/home/raul_desktop/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [13]:
df

      a    b    c
 0    1  2.0  3.0
 1    4  5.0  6.0
 2    7  8.0  9.0
 3  tmp  2.0  3.0
-1  tmp  NaN  NaN