# Import Modules

In [1]:
import os
import sys

import numpy as np

import pandas as pd

# Script Inputs

In [2]:
N_tot = 259

aqs_bin_size = 10

# Bottom nth percent of systems to find
perc_to_find = 0.1

In [3]:
num_systems_to_find = round(N_tot * perc_to_find)
num_systems_to_find = 18
print("num_systems_to_find:", num_systems_to_find)

num_systems_to_find: 18

# Picking randomly with no duplicates

In [5]:
frac_calc_needed_list = []
# for run_i in range(5):

df = pd.DataFrame()
df["energy_ordering"] = [i for i in range(N_tot)]

print("df.shape:", df.shape)
# #################################################################################################

num_systems_aquired = 0
# for i in range(400):

data_list = []


i = 0
while True:
    if i == 0:
        i += aqs_bin_size + 1
    else:
        i += aqs_bin_size

    data_dict_i = {}
    data_dict_i["num_computed"] = i

    df_aquis_i = df.sample(n = aqs_bin_size)
    
    for j_cnt, row_j in df_aquis_i.iterrows():
        

        # row_i = df_aquis_i.iloc[0]

        energy_num_i = row_j["energy_ordering"]

        if energy_num_i <= num_systems_to_find:
            num_systems_aquired += 1

        data_dict_i["num_top_systems_aquired"] = num_systems_aquired

        df = df.drop(row_j.name)

#     print(i, num_systems_aquired)
    data_list.append(data_dict_i)

    if num_systems_aquired >= num_systems_to_find:
        print(i, num_systems_aquired)
        frac_i = i / N_tot
        print("i / N_tot:", frac_i)

        frac_calc_needed_list.append(frac_i)
        # print("DONE!!!!!!!!!!!!!!")
        break
        
    if i > 260:
        break

df.shape: (259, 1)
221 18
i / N_tot: 0.8532818532818532

In [6]:
df.shape

(39, 1)

In [8]:
df_discovery_totally_random = pd.DataFrame(data_list)
df_discovery_totally_random.to_csv("out_data/df_discovery_totally_random_with_replacement.csv")
# df_discovery_totally_random.to_csv("out_data/df_discovery_totally_random_no_replacement.csv")

df_discovery_totally_random

    num_computed  num_top_systems_aquired
0             11                        0
1             21                        1
2             31                        2
3             41                        4
4             51                        6
5             61                        6
6             71                        6
7             81                        7
8             91                        8
9            101                        8
10           111                        9
11           121                        9
12           131                       10
13           141                       10
14           151                       11
15           161                       13
16           171                       13
17           181                       15
18           191                       15
19           201                       16
20           211                       17
21           221                       18

In [ ]:
print("mean:", np.mean(frac_calc_needed_list))
print("std dev:", np.std(frac_calc_needed_list))

# #############################################################################
0.974
0.958
0.993

50: 0.9
100: 0.8
500: 0.986
1000: 0.99
4000: 0.99425

In [ ]:
frac_calc_needed_list = []
for run_i in range(5):

    df = pd.DataFrame()
    df["energy_ordering"] = [i for i in range(N_tot)]

    for i in range(num_systems_to_find):
        sample_index = df.sample(frac=0.05).index
        df.loc[sample_index]["energy_ordering"] = "TEMP"
        df["energy_ordering"][sample_index] = i

    df["energy_ordering"][0:num_systems_to_find] = [i for i in range(num_systems_to_find)]

    # #################################################################################################

    num_systems_aquired = 0
    systems_aquired = []
    i = 0
    while True:
        i += 1
        df_aquis_i = df.sample(n=1)
        row_i = df_aquis_i.iloc[0]

        energy_num_i = row_i["energy_ordering"]

        if energy_num_i <= num_systems_to_find:
            if energy_num_i not in systems_aquired:
                systems_aquired.append(energy_num_i)
                num_systems_aquired += 1
            else:
                tmp = 42

        df = df.drop(row_i.name)


        if num_systems_aquired >= num_systems_to_find:
            print(str(i) + ":", num_systems_aquired)
            
            frac_calcs_needed = i / N_tot
            print("i / N_tot:", frac_calcs_needed)
            print("")
            frac_calc_needed_list.append(frac_calcs_needed)
            break

In [ ]:
print("mean:", np.mean(frac_calc_needed_list))
print("std dev:", np.std(frac_calc_needed_list))