# Analysing prototypes of structures computed for OER section of paper
---

In [1]:
import os
import sys

import pickle

# ase
from ase.visualize import view
from ase import io

# pymatgen
from pymatgen.io.vasp.inputs import Poscar
from pymatgen.io.ase import AseAtomsAdaptor


import bulk_enumerator as be

# Analysing Bulk Structures

01_IrO2  02_IrO3  03_iro3_rutile-like  04_iro3_battery

In [2]:
prototype_names = {}

## rutile-IrO2

In [3]:
file_path_i = os.path.join(
    os.environ["PROJ_irox"],
    "01_bulk_structures",
    "01_IrO2",
    "bulk_symm.cif",
    )

atoms_i = io.read(file_path_i)
structure_i = AseAtomsAdaptor.get_structure(atoms_i)

b = be.bulk.BULK()
b.set_structure_from_file(Poscar(structure_i).get_string())

prototype_names["rutile_iro2"] = b.get_name()
print(prototype_names["rutile_iro2"])

AB2_2_a_f_136

## a-AlF3 IrO3

In [4]:
file_path_i = os.path.join(
    os.environ["PROJ_irox"],
    "01_bulk_structures",
    "02_IrO3",
    "bulk.cif",
    )

atoms_i = io.read(file_path_i)
structure_i = AseAtomsAdaptor.get_structure(atoms_i)

b = be.bulk.BULK()
b.set_structure_from_file(Poscar(structure_i).get_string())

prototype_names["a-AlF3_iro3"] = b.get_name()
print(prototype_names["a-AlF3_iro3"])

AB3_2_b_e_167

## rutile-like IrO3

In [5]:
file_path_i = os.path.join(
    os.environ["PROJ_irox"],
    "01_bulk_structures",
    "03_iro3_rutile-like",
    "bulk.cif",
    )

atoms_i = io.read(file_path_i)
structure_i = AseAtomsAdaptor.get_structure(atoms_i)

b = be.bulk.BULK()
b.set_structure_from_file(Poscar(structure_i).get_string())

prototype_names["rutile_iro3"] = b.get_name()
print(prototype_names["rutile_iro3"])

AB3_4_e_fj_136

## battery IrO3

In [6]:
file_path_i = os.path.join(
    os.environ["PROJ_irox"],
    "01_bulk_structures",
    "04_iro3_battery",
    "bulk.cif",
    )

atoms_i = io.read(file_path_i)
structure_i = AseAtomsAdaptor.get_structure(atoms_i)

b = be.bulk.BULK()
b.set_structure_from_file(Poscar(structure_i).get_string())

prototype_names["battery_iro3"] = b.get_name()
print(prototype_names["battery_iro3"])

AB3_8_ik_glm2_66

# Results

rutile IrO2: AB2_2_a_f_136
a-AlF3 IrO3: AB3_2_b_e_167
rutile IrO3: AB3_4_e_fj_136
batter IrO3: AB3_8_ik_glm2_66

# Comparing to Static Prototypes List

In [7]:
file_i = os.path.join(
    os.environ["PROJ_irox"],
    "workflow/ml_modelling/00_ml_workflow/outdata",
    "01_irox_data_featurized.pickle")
with open(file_i, "rb") as fle:
    df_m = pickle.load(fle)

/home/raulf2012/anaconda2/envs/py36/lib/python3.6/site-packages/pandas/core/indexes/base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)

In [8]:
df_iro2 = df_m[df_m["default_columns"]["stoich"] == "AB2"]

df_iro3 = df_m[df_m["default_columns"]["stoich"] == "AB3"]

In [9]:
prototype_names

#IrO2: 200
#a-AlF3 IrO3: 231
#rutile IrO3: 164

{'rutile_iro2': 'AB2_2_a_f_136',
 'a-AlF3_iro3': 'AB3_2_b_e_167',
 'rutile_iro3': 'AB3_4_e_fj_136',
 'battery_iro3': 'AB3_8_ik_glm2_66'}

## rutile IrO2

In [10]:
name_i = prototype_names["rutile_iro2"]
name_i in df_iro2["prototype_info"]["name_i"].tolist()


df_iro2.loc[df_iro2["prototype_info"]["name_i"] == name_i]

                                       default_columns                   \
                                                 atoms formation_e   id
112  (Atom('Ir', [0.0, 0.0, 0.0], tag=0, index=0), ...         NaN  200

                   prototype_info  \
    oqmd_id stoich         name_i
112     NaN    AB2  AB2_2_a_f_136

                                                                               \
                                    parameter_values_i spacegroup_i species_i
112  [{'name': 'a', 'value': 6.12727}, {'name': 'b/...          136   [Ir, O]


    wyckoff_i
112    [a, f]

## a-AlF3 IrO3

In [11]:
name_i = prototype_names["a-AlF3_iro3"]
name_i in df_iro3["prototype_info"]["name_i"].tolist()

df_iro3.loc[df_iro3["prototype_info"]["name_i"] == name_i]

                                       default_columns                   \
                                                 atoms formation_e   id
843  (Atom('O', [2.0795108014000006, 3.601818362913...         NaN  231

                   prototype_info  \
    oqmd_id stoich         name_i
843     NaN    AB3  AB3_2_b_e_167

                                                                               \
                                    parameter_values_i spacegroup_i species_i
843  [{'name': 'a', 'value': 6.077419952599129}, {'...          167   [Ir, O]


    wyckoff_i
843    [b, e]

## rutile IrO3

In [12]:
name_i = prototype_names["rutile_iro3"]
name_i in df_iro3["prototype_info"]["name_i"].tolist()

df_iro3.loc[df_iro3["prototype_info"]["name_i"] == name_i]

                                       default_columns                   \
                                                 atoms formation_e   id
768  (Atom('O', [5.2048410015, 5.2048410015, 0.0], ...   -0.559365  164

                    prototype_info  \
    oqmd_id stoich          name_i
768     NaN    AB3  AB3_4_e_fj_136

                                                                     \
                                    parameter_values_i spacegroup_i
768  [{'name': 'a', 'value': 6.44315}, {'name': 'b/...          136


      species_i  wyckoff_i
768  [Ir, O, O]  [e, f, j]

## battery IrO3

In [13]:
name_i = prototype_names["battery_iro3"]
name_i in df_iro3["prototype_info"]["name_i"].tolist()

df_iro3.loc[df_iro3["prototype_info"]["name_i"] == name_i]

Empty DataFrame
Columns: [(default_columns, atoms), (default_columns, formation_e), (default_columns, id), (default_columns, oqmd_id), (default_columns, stoich), (prototype_info, name_i), (prototype_info, parameter_values_i), (prototype_info, spacegroup_i), (prototype_info, species_i), (prototype_info, wyckoff_i)]
Index: []